[client]
port = 3306
socket = /tmp/mysql.sock

[mysqld-5.0]
slow_query_log = 1
log_slow_queries = mysql-slow.log
long_query_time = 1
log_queries_not_using_indexes = 1

master_connect_retry = 20

# for tritonn
#senna_2ind
#senna_log

[mysqld-5.1]
slow_query_log = 1
slow_query_log_file = mysql-slow.log
long_query_time = 0.1
log_queries_not_using_indexes = 1
min_examined_row_limit = 10000

master_connect_retry = 20

# for innodb plugin
ignore_builtin_innodb
plugin_load = innodb=ha_innodb_plugin.so;innodb_trx=ha_innodb_plugin.so;innodb_locks=ha_innodb_plugin.so;innodb_lock_waits=ha_innodb_plugin.so;innodb_cmp=ha_innodb_plugin.so;innodb_cmp_reset=ha_innodb_plugin.so;innodb_cmpmem=ha_innodb_plugin.so;innodb_cmpmem_reset=ha_innodb_plugin.so
#innodb_file_format = Barracuda

#innodb_io_capacity = 200
#innodb_read_io_threads = 4
#innodb_write_io_threads = 4

# for q4m
#queue_use_concurrent_compaction = 1
#queue_concurrent_compaction_interval = 1048576

[mysqld]
port = 3306
socket = /tmp/mysql.sock
datadir = /usr/local/mysql/data/
log_error = mysql-error.log
default_storage_engine = InnoDB
character_set_server = utf8
skip_character_set_client_handshake
skip_external_locking

#sort_buffer_size = 4M
#read_buffer_size = 2M
#read_rnd_buffer_size = 8M
#key_buffer = 32M
#bulk_insert_buffer_size = 64M
#myisam_sort_buffer_size = 64M
#myisam_max_sort_file_size = 60G
#myisam_max_extra_sort_file_size = 60G

max_allowed_packet = 16M
max_connections = 1000
max_connect_errors = 100000
wait_timeout = 60
slave_net_timeout = 60
table_cache = 2048
query_cache_type = 0
query_cache_size = 0
thread_cache = 200
#thread_concurrency = 8
#skip_name_resolve
#core_file
#read_only = 1

# for mariadb
#thread_handling = pool-of-threads
#thread_pool_size = 200

#!include    /etc/mysql/myopt.cnf
#!includedir /etc/mysql/conf.d

sql_mode = "STRICT_ALL_TABLES,NO_ZERO_DATE,NO_ZERO_IN_DATE"

server_id = <server_id>

log_bin = mysql-bin
expire_logs_days = 10
#sync_binlog = 1
#binlog_format = mixed
#log_slave_updates

innodb_buffer_pool_size = 2G
#innodb_additional_mem_pool_size = 16M
innodb_data_file_path = ibdata1:10M:autoextend

#innodb_thread_concurrency = 16
#innodb_force_recovery = 1
#innodb_fast_shutdown = 1
# crash unsafe option (for performance)
#innodb_flush_log_at_trx_commit = 2
#skip_innodb_doublewrite

innodb_log_buffer_size = 16M
innodb_log_file_size = 512M
#innodb_log_files_in_group = 2

#innodb_max_dirty_pages_pct = 90
innodb_lock_wait_timeout = 5
innodb_flush_method = O_DIRECT
innodb_file_per_table

[mysql]
prompt = '\\u@\\h [\\d] > '
default_character_set = utf8
safe_updates
show_warnings
connect_timeout = 5
