[client]
port = 3306
socket = /tmp/mysql.sock

[mysql]
prompt = '\\u@\\h [\\d] > '
default_character_set = utf8mb4
safe_updates
show_warnings
connect_timeout = 5

[mysqld]
port = 3306
socket = /tmp/mysql.sock
datadir = /usr/local/mysql/data/
default_storage_engine = InnoDB
character_set_server = utf8mb4
lower_case_table_names = 1
skip_name_resolve
skip_external_locking
#core_file = 1
#read_only = 1
#performance_schema

sql_mode = TRADITIONAL

## network
max_allowed_packet = 16M
max_connections = 1000
max_connect_errors = 10000
wait_timeout = 30
slave_net_timeout = 30

## cache size
table_open_cache = 2000
thread_cache_size = 100
query_cache_type = 0
query_cache_size = 0
max_heap_table_size = 64M
tmp_table_size = 64M

## log
log_error = mysql-error.log
#general_log = 1
#general_log_file = mysql.log

## binary log
server_id = <%= server_id %>
log_bin = mysql-bin
max_binlog_size = 512M
binlog_format = mixed
expire_logs_days = 10
#binlog_cache_size = 1M
#sync_binlog = 1
#log_slave_updates
relay_log = relay-mysql-bin
report_host = <%= report_host %>

## slow query log
slow_query_log = 1
slow_query_log_file = mysql-slow.log
long_query_time = 0.1
log_queries_not_using_indexes = 1
min_examined_row_limit = 100

## innodb
innodb_strict_mode = 1
innodb_buffer_pool_size = 1G
innodb_buffer_pool_instances = 1
innodb_data_file_path = ibdata1:10M:autoextend
innodb_log_buffer_size = 16M
innodb_log_file_size = 512M
innodb_doublewrite = 0
innodb_read_io_threads = 8
innodb_write_io_threads = 8
innodb_lock_wait_timeout = 5
innodb_flush_method = O_DIRECT
innodb_file_per_table = 1
innodb_file_format = Barracuda
innodb_large_prefix

[mysqld-5.6]
explicit_defaults_for_timestamp

## Replication with GTIDs
#log_bin = mysql-bin
#log_slave_updates
#gtid_mode = ON
#disable_gtid_unsafe_statements

## binary log
master_info_repository = table
relay_log_info_repository = table

## slow query log
log_throttle_queries_not_using_indexes = 10

## innodb
#innodb_flush_log_at_trx_commit = 2
#innodb_flush_log_at_timeout = 1
innodb_buffer_pool_dump_at_shutdown = 1
innodb_buffer_pool_load_at_startup = 1
innodb_print_all_deadlocks = 1

## innodb for ssd
#innodb_flush_neighbors = 0
#innodb_random_read_ahead = 0
#innodb_read_ahead_threshold = 0
#innodb_io_capacity = 2000
